[Unit]
Description=x1984 Camera Scanner
After=network.target

[Service]
ExecStart=/usr/local/bin/camera_scanner.bin
Restart=always
EnvironmentFile=/opt/1984-deny/.env

[Install]
WantedBy=multi-user.target
